<!-- <div ng-show='reviews.length'> -->
    <ul>
        <li ng-repeat = 'item in reviews'>
            test
            <!-- <a sref="reviews({ reviewId: review.id })">  -->
                {{ item.title }}
            <!-- </a> -->
        </li>
    </ul>
<!-- </div> -->

<div ui-view = 'selected_review'></div>
<!-- <div ui-view = 'new_review'></div> -->

<h2>Create New Movie Review</h2>
<form ng-submit='ReviewsFactory.addReview()' role='form'>
    <input type="text" name="title" value="Enter the title for the review here">
    <textarea rows='4' cols = '50' name="review"></textarea>
    <button type="submit">Submit</button>
</form>
